{% extends "base.html"%}

{% block content %}

    <h1 class="title">PaperCut Import ID</h1>

    {% if message %}
        <div class="message">
            {{message}}
        </div>
    {% endif %}


    


    {% if form %}

    <div class="card" style="width: 18rem;" id="instruct-card">
        <div class="card-body">
            <h5 class="card-title">Batch Import Instructions:</h5>
        
            <p class="card-text">Import file must consist of only the user names and ID numbers seperated by a tab. Each line should be only a single user.</p>
         
        </div>
    </div>
    <div id="import-form">
        <form action="/importid" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Run Batch Import">
        </form>
    </div>
    {% endif %}

{% endblock content%}